* 
{

    background-color: #f6f5f5;
    margin: 0px;
    padding: 0px;
}

ul 
{
    list-style: none;
}

a 
{
    text-decoration: none;
}

section 
{
    width: 100%;
    height: 95vh;
    background-repeat: no-repeat;
    background-position: cover;
    position: relative;
}

nav 
{
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 70px; 
   box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
   padding: 0px 5%;
}

nav ul 
{
    display: flex;
    justify-content: space-between;
}

nav ul li a 
{
    margin: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #505050;
    font-size: 15px;
    font-weight: 400;
}

.logo
{
    font-family: cursive;
    color: #000000;
    font-size: 22px;
}

.active 
{
    font-weight: bold;
    color: #2d2a2a;
}

.text-container p:nth-child(1)
{
    font-family: calibri;
    font-weight: bold;
    color: #6d6d6d;
    font-size: 22px;
}

.text-container p:nth-child(2)
{
    font-family: calibri;
    font-weight: bold;
    letter-spacing: 1px;
    color: #1a1a1a;
    font-size: 60px;
}

.text-container p:nth-child(3)
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #403e3e;
    font-size: 30px;
    line-height: 30px;
}

.text-container p 
{
    line-height: 0;
    margin: 45px 0px 25px ;
}

.text-container button
{
    width: 130px;
    height: 42px;
    border-radius: 10px;
    font-family: calibra;
    font-weight: bold;
    font-size: 14px;
    outline: none;
    margin: 0px 10px;
}

.text-container 
{
    position: absolute;
    left: 13%;
    top: 42%;
    transform: translate(-13%, -42%);
}

.model 
{
    height: 530px;
    position: absolute;
    top: 100px;
    left: 75%;
    transform: translateX(-75%);
}

.hire-btn
{
    border: 2px solid #373636;
    color: #373636;
    background-color: transparent;
}

.down-cv
{
    background-color: #0B0B0B;
    color: #fff;
    border: none;
}

button:active
{
    transform: scale(1.1);
}

.about-container
{
    width: 80%;
    height: 330px;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    display: flex;
    margin: -10% auto 70px auto;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
}

.about-container img 
{
    height: 250px;
}

.about-text 
{
    width: 70%;
}

.about-text p:nth-child(1) 
{
    color: #403e3e;
    font-family: cursive;
    font-weight: bold;
    font-size: 23px;
}

.about-text P:nth-child(3)
{
    color: #3e3d3d;
    font-size: 13px;
    font-family: cursive;
    font-weight: bold;
}

.about-text p:nth-child(5), .about-text P:nth-child(7)
{
    color: #7e7d74;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    line-height: 20px;
}

.about-text button
{
    width: 120px;
    height: 40px;
    color: #ffffff;
    border: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #262525;
    cursor: pointer;
}

.services 
{
    height: 500px;
    background-color: #ffffff;
    padding: 5% 10% 0px 10%;
}

.box-container 
{
    display: flex;
    justify-content: space-between;
}

.box-1, .box-2, .box-3 
{
    width: 300px;
    height: 320px;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 2px 2px 18px rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 0px 4px;
}

.box-1
{
    background-image: url("img/services-1.png");
}
.box-2
{
    background-image: url("img/services-2.png");
}
.box-3
{
    background-image: url("img/services-3.png");
}

.box-1 span, .box-2 span, .box-3 span 
{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: cursive;
    font-weight: bold;
    line-height: 40px;
}

.box-1 p:nth-child(2), .box-2 p:nth-child(2), .box-3 p:nth-child(2)
{
    color: #ffffff;
    background-color:black;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    width: 230px;
    margin: 0px 0px 20px 0px;
    line-height: 40px;
}

.box-1 p:nth-child(3), .box-2 p:nth-child(3), .box-3 p:nth-child(3)
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
    background-color: black;
    text-align: center;
    width: 230px;
    margin: 0px 0px 20px 0px;
}

.box-1 button, .box-2 button, .box-3 button
{
    width: 100px;
    height: 30px;
    background-color: #ffffff;
    border: none;
    outline: none;
    border-radius: 5px;
}

.contact-me 
{
    width: 100%;
    height: 280px;
    background-size: cover;
    background-image: url("img/project\ in\ your\ mind.png");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 20px 0px;
}

.contact-me button
{
    width: 200px;
    height: 40px;
    background-color: #ffffff;
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: bold;
}

.contact-me p 
{
    color: #ffffff;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    border-bottom: 2px solid #ffffff;
    background-color: black;
}

footer p 
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer p:nth-child(1)
{
    font-size: 30px;
    font-weight: bold;
    color: #191919;
}

footer p:nth-child(2)
{
    font-size: 16px;
    color: #7e7d7d;
    width: 600px;
    text-align: center;
}

footer
{
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.social-icons a 
{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e6e3e3;
    margin: 20px 10px;
    border-radius: 50%;
}

.social-icons 
{display:flex;}

.social-icons i, .social i 
{
    color: #000000;
}

.social-icons a:hover 
{
    background-color: #000000;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    transition: all ease 0.5s;
}

.copyright 
{
    color: #565555;
    font-size: 12px;
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
}

.social
{
    position: fixed;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
}

.social a 
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin: 0px;
    padding: 0px;
    line-height: 0;
    background-color: #ffffff;
    border: 1px solid #Cbcbcb;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}

.social a:hover
{
    background-color: #000000;
    transition: all ease 0.5s;
}

.social i 
{
    font-size: 20px;
    color: #2b2b2b;
}



















